.contacts {
  &__inner {
    position: relative;
    padding: 6% 0 0;
  }

  &__title {
    font-weight: 700;
    font-size: 44px;
    line-height: 1.2;
    margin: 0 0 50px;
    text-align: center;
    color: #1e376a;
  
    &::before {
      content: '[ '; 
      color: #86C24B;
    }
    &::after {
      content: ' ]';
      color: #86C24B;
    }
  }

  &__wrap {
    display: flex;
  }

  &__map {
    flex: 1 0 50%;

    & iframe {
      width: 100%;
      height: 100%;
    }
  }

  &__info {
    flex: 0 0 50%;
    margin: 0;
    background-color: #1e376a;
    color: #fff;
    padding: 40px 10%;
  }

  &__term {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.2;
    color: inherit;
    padding: 0 0 10px;
  }

  &__def {
    font-weight: 500;
    font-size: 22px;
    line-height: 1.4;
    color: inherit;
    margin-inline-start: 60px;
    padding: 0 0 20px;
  }
}
