.order {
  &__inner {
    position: relative;
    padding: 6% 0 0;
  }

  &__title {
    font-weight: 700;
    font-size: 44px;
    line-height: 1.2;
    margin: 0 0 50px;
    text-align: center;
    color: #1e376a;
  
    &::before {
      content: '[ '; 
      color: #86C24B;
    }
    &::after {
      content: ' ]';
      color: #86C24B;
    }
  }
}